01_XML/WebContent/employees.xsd

<?xml version="1.0" encoding="euc-kr" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"> 
	<element name="종업원들">   
		<complexType>
			<sequence>
											<!-- unbounded : 무제한.-->
				<element name="종업원" maxOccurs="unbounded">
					<complexType>
						<sequence> 
							<element name="이름" type="string"/>
							<element name="자식이름" type="string" minOccurs="0"  maxOccurs="10"/>
							<!-- minOccurs 자식이름 있어야한다 .안쓰면 기본설정 1이다 .-->
						</sequence>
					</complexType>
				</element>
			</sequence>  
		</complexType>
	</element> 
</schema>

